html {
    background-color: darkslategray;
    overflow: hidden;
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: lightgray;
    overflow: hidden;
    text-align: center;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

#interface {
    height: 720px;
    width: 540px;
    margin-top: 10px;
    border-right: solid 8px lightgray;
}

#div_stand_legumes {
    height: 720px;
    width: 540px;
    margin-top: 10px;
    background-image: url("/static/img/legume_stand.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#back {
    position: relative;
    height: 96px;
    width: 96px;
    border-radius: 20px;
    border: whitesmoke 5px solid;
    background-color: lightgray;
    bottom: 500px;
    left: 450px;
}

#peanut {
    position: relative;
    height: 600px;
    top: 120px;
    left: 50px;
}

#dialogue {
    position: relative;
    background-color: ghostwhite;
    border: black solid 3px;
    border-radius: 15px;
    text-align: left;
    width: 480px;
    height: 120px;
    margin: auto;
    bottom: 20px;
}

.piece {
    position: relative;
    height: 92px;
    width: 92px;
}

.billet {
    position: relative;
    height: 92px;
    width: 140px;
    visibility: hidden;
}

#comptoir {
    margin-top: 60px;
    background-image: url("/static/img/wood.png");
    background-size: cover;
    background-repeat: round;
    height: 400px;
}

#achat {
    color: yellow;
    font-size: 250%;
    font-weight: bold;
    font-family: "Verdana", sans-serif;
}

#table_comptoir {
    margin: auto;
}

#table_comptoir td {
    height: 92px;
    width: 140px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}

#div_comptoir{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
}

#payer {
    margin-top: 5px;
    background-color: darkslategray;
    border: lightgray solid 2px;
    border-radius: 10px;
    color: yellow;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    width: 28%;
    height: 50px;
}