html {
    background-color: darkslategray;
    overflow: hidden;
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: lightgray;
    overflow: hidden;
    text-align: center;
    /*display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;*/
}

#div_market {
    height: 720px;
    width: 1080px;
    margin: -15px auto;
    background-image: url("/static/img/market.png");
    background-size: cover;
    background-repeat: no-repeat;
}

img {
    position: relative;
    height: 96px;
    width: 96px;
    border-radius: 20px;
    border: whitesmoke 5px solid;
    background-color: lightgray;
}

#fruits {
    top: 34em;
    left: 19em;
}

#score_fruit {
    top: 23.5em;
    left: 10em;
}

#legumes {
    top: 30em;
    right: 17em;
}

#score_legume {
    top: 21em;
    right: 14em;
}

#bouquets {
    top: 16em;
    left: 23em;
}

#score_fleur {
    top: 11.5em;
    left: 13em;
}

#final {
    top: 40em;
    right: 25em;
}

#close {
    bottom: 0.5em;
    right: 66.5em;
}

#score_fleur, #score_fruit, #score_legume {
    position: relative;
    font-family: "Verdana", sans-serif;
    font-weight: bolder;
    font-size: 150%;
    padding: 8px;
    border-radius: 20px;
    border: whitesmoke 5px solid;
    color: seagreen;
    background-color: lightgray;
}

#nom_eleve {
    position: relative;
    font-family: "Verdana", sans-serif;
    font-weight: bolder;
    font-size: 150%;
    padding: 8px;
    border-radius: 20px;
    border: whitesmoke 5px solid;
    color: seagreen;
    background-color: lightgray;
    width: 360px;
    top: 50px;
    right: 200px;
}

