{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Stand secret</title>
    <link rel="stylesheet" href="{% static 'css/final.css' %}">
    <script src="https://unpkg.com/interactjs/dist/interact.min.js"></script>

</head>
<body>
    <div id="interface">
        <div id="game-container"></div>
        <input id="result-input" type="number" placeholder="Résultat">
        <div id="score-lives">Score: <span id="score">0</span> Lives: <span id="lives">3</span></div>
    </div>
    <img onclick="redirect_market()" id="back" src="{% static 'img/back.png' %}" alt="back"/>
</body>
<script type="application/javascript" src="{% static 'js/nav.js' %}"></script>
<script type="application/javascript" src="{% static 'js/jeu_final.js' %}"></script>

</html>